/** Basic config file **/

/* configuration { */
  /* show-icons:         true; */
  /* icon-theme:         "Papirus"; */
/* } */

/* stolen: https://github.com/MuizU/.dotfiles/blob/master/.config/rofi/config.rasi */
configuration {
    display-drun:                   "Apps";
    display-window:                 "Window";
    show-icons:true;
}
@import "/usr/share/rofi/themes/fancy.rasi"
