[Unit]
Description=Xremap Service
After=network.target

[Service]
Type=simple
ExecStart=$HOME/.thirdparty-app/github/xremap/xremap $HOME/.thirdparty-app/github/xremap/config.yml

[Install]
WantedBy=multi-user.target
